<% if flash[:error] %>
  <div class="flash_background"></div>
  <div class="flash_container">
    <div class="title">
      <%= flash[:error] %>
  </div>
</div>
<% end %>
<%= image_tag("media-image.jpg", class: "media-image", style: "display: block;") %>
<div class="login_field_main">
	<%= form_tag(search_players_path, method: "post") do %>
		<%= text_field_tag(:profile_url, nil, placeholder: "Profile URL, Steam Name or ID") %>
		<%= submit_tag(" ") %>
	<% end %>
</div>

<div class="main_section_header">
  <div class="header">
    The Global Offensive Performance Tracker
  </div>
</div>

<div class="padded_content">
	<p>This tool tracks the performance of CS:GO players over time.  It will also provide overall lifetime statistics of the player.  To begin tracking simply paste the community profile url of the player you want to track into the search bar.</p>

  <p><span class="stat_accent">NEW!</span> See the <%= link_to "FAQ", faq_path, class: "white" %> for more information!</p>
</div>

<div class="main_section_header">
  <div class="header">
    How It Works
  </div>
</div>
<br />
<%= image_tag("chart_preview.jpg", class: "chart_preview", style: "display: block;") %>
<div class="padded_content">
  <p>After the first time you search for a user we'll sync with Steam and start tracking that player.  After a few days the performance charts should start fill in.  If you're having trouble viewing your stats, ensure that your steam profile is set to public.  To view your operation stats, your inventory should also be publicly available. </p>
  <p>This site is a work in progress so any feedback or suggestions would be greatly appreciated.  If you have an idea of stats you'd like to see charted, please let us know!</p>
</div>