<%= render layout: "stats_section", locals: { player: @player, title: "General Stats" } do  %>
  <div class="basic_stats">
    <table class="stats_table stats_table_large">
      <tr>
        <td class="stat_title">K/D</td>
        <td class="stat stat_accent bold pad_right"><%= '%.2f' % @player.latest_stats.kd %></td>
        <td class="stat_title">Wins</td>
        <td class="stat stat_accent bold pad_right"><%= '%.2f' % (@player.latest_stats.win_percentage * 100) %>%</td>
      </tr>
      <tr>
        <td class="stat_title">Accuracy</td>
        <td class="stat stat_accent bold pad_right"><%= '%.2f' % (@player.latest_stats.accuracy) %>%</td>
        <td class="stat_title">Headshots</td>
        <td class="stat stat_accent bold pad_right"><%= '%.2f' % (@player.latest_stats.headshot_percentage * 100) %>%</td>
      </tr>
      <tr>
        <td class="stat_title">DPS</td>
        <td class="stat stat_accent bold pad_right"><%= '%.2f' % @player.latest_stats.damage_per_shot %></td>
        <td class="stat_title">MVPs</td>
        <td class="stat stat_accent bold pad_right"><%= @player.latest_stats.total_mvps %></td>
      </tr>
    </table>
    <br />
    <table class="stats_table stats_table_large">
      <tr>
        <td class="stat_title">Kills</td>
        <td class="stat stat_accent bold pad_right"><%= @player.latest_stats.total_kills %></td>
        <td class="stat_title">Deaths</td>
        <td class="stat stat_accent bold pad_right"><%= @player.latest_stats.total_deaths %></td>
      </tr>
      <tr>
        <td class="stat_title">Bombs Set</td>
        <td class="stat stat_accent bold pad_right"><%= @player.latest_stats.total_planted_bombs %></td>
        <td class="stat_title">Hostages Rescued</td>
        <td class="stat stat_accent bold pad_right"><%= @player.latest_stats.total_rescued_hostages %></td>
      </tr>
      <tr>
        <td class="stat_title">Avg. Contribution</td>
        <td class="stat stat_accent bold pad_right"><%= '%.2f' % @player.latest_stats.contribution_per_round %></td>
        <td class="stat_title">Windows Broken</td>
        <td class="stat stat_accent bold pad_right"><%= @player.latest_stats.total_broken_windows %></td>
      </tr>
    </table>
  </div>
  <div class="last_match_stats">
    <div class="centered_title">Last Match: <span class="title stat_accent bold"><%= match_result @player.latest_stats.latest_match_result %></span></div>
    <table class="stats_table">
      <tr>
        <td class="stat_title">Rounds Won</td>
        <td class="stat stat_accent"><%= @player.latest_stats.last_match_wins %> / <%= @player.latest_stats.last_match_rounds %></td>
      </tr>
      <tr>
        <td class="stat_title">K/D Ratio</td>
        <td class="stat stat_accent"><%= '%.2f' % (@player.latest_stats.latest_match_kd) %></td>
      </tr>
      <tr>
        <td class="stat_title">Kills</td>
        <td class="stat stat_accent"><%= @player.latest_stats.last_match_kills %></td>
      </tr>
      <tr>
        <td class="stat_title">Deaths</td>
        <td class="stat stat_accent"><%= @player.latest_stats.last_match_deaths %></td>
      </tr>
      <tr>
        <td class="stat_title">Contribution</td>
        <td class="stat stat_accent"><%= @player.latest_stats.last_match_contribution_score %></td>
      </tr>
      <tr>
        <td class="stat_title">MVPs</td>
        <td class="stat stat_accent"><%= @player.latest_stats.last_match_mvps %></td>
      </tr>
      <tr>
        <td class="stat_title">Damage Done</td>
        <td class="stat stat_accent"><%= @player.latest_stats.last_match_damage %></td>
      </tr>
      <tr>
        <td class="stat_title">Money Spent</td>
        <td class="stat stat_accent">$<%= number_with_delimiter(@player.latest_stats.last_match_money_spent, :delimiter => ',') %></td>
      </tr>
    </table>
  </div>
  <br class="clear" />
<% end %>