<% search_text = 'Steam Community URL' %>
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %>CS:GO Stat Tracker</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application" %>
  <%= favicon_link_tag '/assets/favicon.ico' %>
</head>
<body>
  <div id="content_container">
    <div id="header_container">
      <%= link_to "/" do %>
        <%= image_tag("csgo_tracker_logo.png", class: "logo") %>
      <% end %>
      <div class="login_container">
        <div class="login_table">
          <div class="login_field">
            <%= form_tag(search_players_path, method: "post") do %>
              <%= text_field_tag(:profile_url, nil, placeholder: search_text) %>
              <%= submit_tag(" ") %>
            <% end %>
          </div>
          </div>
      </div>
    </div>
    <div id="main_content_container">
      <% if flash[:error] %>
      <div class="notice"><%= flash[:error] %></div>
      <% end %>
      <%= yield %>
    </div>
    <div id="footer_container">
      <a href="http://steampowered.com">Powered by Steam</a>
    </div>
  </div>
</body>
</html>
